@import "tailwindcss";

@layer utilities {
  .image-initial {
    transform: translateY(10%);
    opacity: 0;
  }
  
  .animate-slide-up {
    animation: slideUp 1.5s cubic-bezier(0.16, 1, 0.3, 1) both;
    animation-delay: 1.0s;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}